<div class="ui inverted vertical footer segment" style="margin-top: 20em;">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Info</h4>
                <div class="ui inverted link list">
                    <a id="bug_button" href="mailto:info.vaccitaly@gmail.com?subject=[VaccItaly]%20Segnalazione%20bug" class="item">Segnala un bug</a>
                    <a href="#" class="item">Informazioni sui vaccini</a>
                    <a href="{{ url_for('terms')}}" class="item">Termini e condizioni</a>
                </div>
            </div>
            <!--
            <div class="three wide column">
                <h4 class="ui inverted header">Title</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Service</a>
                    <a href="#" class="item">Service</a>
                    <a href="#" class="item">Service</a>
                    <a href="#" class="item">Service</a>
                </div>
            </div>
            -->
            <div class="seven wide column">
                <h4 class="ui inverted header">Cloud Computing 2020/2021</h4>
                <div class="ui inverted link list">
                    <p>Progetto accademico per l'Università degli Studi di Salerno</p>
                </div>
               
            </div>
        </div>
    </div>
</div>
<script>
    $('#bug_button').click( function() {
        $('body')
            .toast({
                title: 'Invia una email a',
                message: 'info.vaccitaly@gmail.com',
                position: 'bottom left',
                showProgress: 'bottom',
                classProgress: 'primary'
            })
    });
</script>