<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
</head>
<style>
    body {
        background-color: #f0f0f0;
    }

</style>
<body>
    <div class="ui stackable  column vertically divided grid container">
        <div class="row">
          <div class="column">
            <div class="ui segment">
                <h4 class="ui primary image centered header">
                    <img src="/images/favicon5.png" class="image">
                    <div class="content">
                        VaccItaly
                    </div>
                </h4>
                <p>Ciao {{ nome }},</p>
                <p>benvenuto in VaccItaly.</p>
                <p></p>
                <p>Se già sai come funziona il sito, puoi prenotare un appuntamento presso la tua ASL di competenza qui di seguito.</p>
                <div style="text-align: center;">
                    <a class="ui primary button" href="#">Prenota</a>
                </div>
                <p></p>
                <p>Se non sai come funziona il sito, ti consigliamo di dare un'occhiata di seguito.</p>
                <div style="text-align: center;">
                    <a class="ui primary button" href="#">Info</a>
                </div>
                <p></p>
                <p></p>
            </div>
          </div>
          
        </div>
        
      </div>
      <p style="text-align: center; margin-top: 3em; color: gray;">2021 VaccItaly</p>
</body>
</html>